

.loginPage {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("../../../images/loginPageBG2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.loginPage::before {
   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(0,0,0, 0.85);
   background-blend-mode: color-dodge;
}