

.loginPage {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("../../../images/loginPageBG-main.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

