.navWrap {
   background-color: #cefa05;
   padding-right: 3em;
   padding-left: 3em;
   padding-top: 0.5em;
   position: fixed;
}

.navWrap ul {
   list-style-type: none;
}

.navWrap ul li {
   display: inline-block;
   margin-right: 2em;
   color: #000;
   font-weight: 500;
}

.logoutNavBtn {
   display: inline-block;
   margin-left: auto;
   cursor: pointer;
   color: #c9c9c9;
   background-color: #fa0202da;
   padding-right: 5px;
   padding-left: 5px;
   border-radius: 10px;
   text-transform: uppercase;
}

